.bg-gray-900 {
  background-color: #121826;
}

.text-white {
  color: white;
}

body {
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  
  These does not work in windows

  */

  margin: 0;
  font-family: "Lato", sans-serif;
}

button {
  font-family: "Lato", sans-serif;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.m-8 {
  margin: 8px;
}

.p-8 {
  padding: 8px;
}

.py-18 {
  padding-top: 18px;
  padding-bottom: 18px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.px-28 {
  padding-left: 28px;
  padding-right: 28px;
}

.no-underline {
  text-decoration: none;
}

.bg-brand-teal {
  background-color: #539d98;
}

.border-none {
  border: none;
}

.rounded-full {
  border-radius: 999px;
}

.uppercase {
  text-transform: uppercase;
}

.text-sm {
  font-size: 14px;
}

.spacing {
  letter-spacing: 1px;
}

.w-full {
  width: 100%;
}

.relative {
  position: relative;
}

.z-10 {
  z-index: 10;
}

.object-cover {
  object-fit: cover;
}

.text-brand-teal {
  color: #90cac7;
}

.bg-white {
  background-color: white;
}

.text-brand-teal-dark {
  color: #539d98;
}

.absolute {
  position: absolute;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-36 {
  font-size: 36px;
}
.text-16 {
  font-size: 16px;
}

@media (min-width: 640px) {
  .sm\:text-60 {
    font-size: 60px;
  }
  .sm\:text-20 {
    font-size: 20px;
  }
}
